<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>レシピコンパス</title>
    </head>
    <body>
        <h1 class="p-3 mb-2 bg-danger text-white">れしぴコンパス</h1>

        <form action="" method="get">
            
            <div class="row">
                <div class="col-xs-2">
                    <input class="form-control" type="search" name="search" placeholder="料理名や材料名を入力">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <input class="form-control" type="search" name="not-search" placeholder="使わない材料名を入力">
                </div>
            </div>
            <input class="btn btn-danger" type="submit" name="submit" value="検索">
        </form>


        <div class="container">
            <div class="row">
              <div class="col">
                <a class="card-img-top" href="https://www.kikkoman.co.jp/homecook/search/recipe/00006616/index.html">
                <div class="card">
                    <img src="https://www.kikkoman.co.jp/homecook/search/recipe/img/00006616.jpg" alt="料理サムネイル" width="200" height="200"><br>
                    <div class="card-body">
                        <h3 class="card-title">鶏ときのこの香ばしステーキ</h3></a><br>
                        <a class="badge bg-secondary me-1">しめじ </a><a class="badge bg-secondary me-1">エリンギ</a><a class="badge bg-secondary me-1">鳥もも肉</a><a class="badge bg-secondary me-1">サニーレタス</a> 
                    </div>
                </div>
            </a>
            </div>
            <div class="col">
                <a class="card-img-top" href="https://www.kikkoman.co.jp/homecook/search/recipe/00006616/index.html">
                <div class="card">
                    <img src="https://www.kikkoman.co.jp/homecook/search/recipe/img/00006616.jpg" alt="料理サムネイル" width="200" height="200"><br>
                    <div class="card-body">
                        <h3 class="card-title">鶏ときのこの香ばしステーキ</h3></a><br>
                        <a class="badge bg-secondary me-1">しめじ </a><a class="badge bg-secondary me-1">エリンギ</a><a class="badge bg-secondary me-1">鳥もも肉</a><a class="badge bg-secondary me-1">サニーレタス</a> 
                    </div>
                </div>
            </a>
            </div>
            <div class="col">
                <a class="card-img-top" href="https://www.kikkoman.co.jp/homecook/search/recipe/00006616/index.html">
                <div class="card">
                    <img src="https://www.kikkoman.co.jp/homecook/search/recipe/img/00006616.jpg" alt="料理サムネイル" width="200" height="200"><br>
                    <div class="card-body">
                        <h3 class="card-title">鶏ときのこの香ばしステーキ</h3></a><br>
                        <a class="badge bg-secondary me-1">しめじ </a><a class="badge bg-secondary me-1">エリンギ</a><a class="badge bg-secondary me-1">鳥もも肉</a><a class="badge bg-secondary me-1">サニーレタス</a> 
                    </div>
                </div>
            </a>
            </div>
            </div>
        </div>
            
    </body>
</html>
