<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>レシピコンパス</title>
    </head>
    <body>
        <h1>れしぴコンパス</h1>

        <form action="" method="get">
            <input type="search" name="search" placeholder="料理名や材料名を入力">
            <input type="search" name="not-search" placeholder="使わない材料名を入力">
            <input type="submit" name="submit" value="検索">
        </form>

        <div>
            <img src="https://www.kikkoman.co.jp/homecook/search/recipe/img/00006616.jpg" alt="料理サムネイル" width="200" height="200">
            <a href="https://www.kikkoman.co.jp/homecook/search/recipe/00006616/index.html">鶏ときのこの香ばしステーキ</a>
            <a>しめじ </a><a>エリンギ</aa<a>鳥もも肉</a><a>サニーレタス</a>>a</a>>>a></a>a></a>
        </div>
        <div>
            <img src="https://cont-daidokolog.pal-system.co.jp/system/recipe/6994/img/thumbnail/pc_detail_main_PS_KCP_1722M.jpg" alt="料理サムネイル" width="200" height="200">
            <a href="https://daidokolog.pal-system.co.jp/recipe/6994">あじの油淋鶏風｜だいどこログ[生協パルシステムのレシピサイト]</a>
            <a>ねぎ</a><a>みず菜</a><a>あじの三枚おろし</a>>a</a>a></a>>a</a>
        </div>
    </body>
</html>
